.container {
  display: grid;
  place-self: center;
}

.card {
  --color-card-bg: #2b2b2b;
  --card-border-radius: 12px;

  position: relative;
  width: 320px;
  height: 780px;
  border-radius: var(--card-border-radius);
  margin: auto;
  background-color: var(--color-card-bg);
}

.info {
  &__img-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  &__img-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: var(--card-border-radius);
    border-top-left-radius: var(--card-border-radius);
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-block: 30px;

    font-family: var(--font-raleway);
  }

  &__name {
    font-size: var(--text-xl);
    font-family: var(--font-montserrat);
    font-weight: 600;
  }

  &__job-position {
    font-size: var(--text-sm);
    color: var(--color-accent);
  }

  &__website {
    font-size: var(--text-xs);
    font-family: var(--font-open-sans);

    &:link,
    &:visited {
      text-decoration: none;
    }
  }

  &__btn-container {
    display: flex;
    gap: 10px;
    width: 80%;
    margin-top: 5px;

    & > button {
      border-radius: 3px;
      width: 50%;
      padding: 8px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      cursor: pointer;

      font-size: 14px;
      letter-spacing: 0.9px;

      & > img {
        width: 20px;
      }
    }

    .btn-email {
      color: black;
    }

    .btn-linkedin {
      background-color: rgb(90, 122, 228);
      color: white;
    }
  }
}

.about,
.interests {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-inline: 20px;
  margin-bottom: 25px;
}

.about__label,
.interests__label {
  font-family: var(--font-montserrat);
  font-size: var(--text-md);
  font-weight: 700;
}

.about__details,
.interests__details {
  font-size: var(--text-xs);
  font-family: var(--font-interim);
  line-height: calc(1em + 5px);
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  & > img {
    width: 40px;
    cursor: pointer;
  }
}
